.list-view {
	-fx-background-color: #FBE9E7;
	-fx-background-radius: 10;
	-fx-display-caret: false;
}

.list-view .scroll-bar:vertical {
	-fx-background-radius: 10;
}

.list-cell {
	-fx-background-radius: 10;
}

.list-cell:hover {
	-fx-background-color:#e74c3c; 
}

.button {
	-fx-background-color: #ecf0f1;
	-fx-background-radius:10;
	-fx-text-fill: #2c3e50 ;
}

.button:hover{
	-fx-background-color:#2ecc71;
}
